
.body {
    font-size: 15px;
    font-family: arial;
    width: 100%;
	margin:0;
}
.menu {
    width: 100%;
    height: 65px;
    margin: 0px;
    padding: 0px;	    
}
.menu ul {
    list-style: none;
 }
 .menu ul li {
    float: right;
    line-height: 100 px 
}
.menu .judul{
	font-family: laksaman;
	color: #008B8B;
	font-size: 30px;
	margin: 0;
	text-decoration: none;
	float: left;
	cursor: none;
}
.menu ul li a {
    float:left; 
    width:100px; 
    display:block; 
    text-align:center; 
    color:#000000; 
    text-decoration:none; 
}
.menu ul li a:hover {
    background-color:#008B8B; 
  
}
.search{
    float:right;
}
.tanggal{
    float:left;
}
.akun{
    float:right;
    width: 20px;
    height:20px;
    cursor:pointer;
}
.card{
    text-align: center;
    }

.card ul li {
    border: 1px solid black;
    max-width: 300px;
    margin: 0 50px;
    text-align: center;
    font-family: arial;
    display: inline-block;
    }

.price {
    color: grey;
    font-size: 22px;
    }
#tambah{
    color: white;
    background-color: teal;
    width: 100px;
    height: 50px;
}
.konten2{
    width: 50%;
    height: 400px;;
    margin-left: 400px;
    border: 2px solid #008B8B;
}
.upload{
    margin-left: 200px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }
.card button:hover {
    opacity: 0.7;
    }
    @media screen and (max-width:720px){
        .menu ul li {
            float: none;
            text-align: center;
        }
        .menu ul li a {
            float:none;
        }
        .search, .menu .judul{
            float: none;
        }
        .tahun{
            float: none;
            margin-top: 120px;
        }
        .card{
            float: none;
            margin-top: 150px;
        }
    }