style.css


.body {
    font-size: 15px;
    font-family: arial;
    width: 100%;
	margin:0;
}
.menu {
    width: 100%;
    height: 65px;
    margin: 0px;
    padding: 0px;	    
}
.menu ul {
    list-style: none;
 }
 .menu ul li {
    float: right;
    line-height: 100 px 
}
.menu .judul{
	font-family: laksaman;
	color: #008B8B;
	font-size: 30px;
	margin: 0;
	text-decoration: none;
	float: left;
	cursor: none;
}
.menu ul li a {
    float:left; 
    width:100px; 
    display:block; 
    text-align:center; 
    color:#000000; 
    text-decoration:none; 
}
.menu ul li a:hover {
    background-color:#008B8B; 
  
}
.search{
    float:right;
    width:50px;
}

.form1{		      	    
      	padding: 15px;
		text-align: left;		
}
.form2{		    
      	text-align: right;
        margin-top: -270px;	
}
@media screen and (max-width:720px){
    .menu ul li {
        float: none;
        text-align: center;
    }
    .menu ul li a {
        float:none;
    }
    .search, .menu .judul{
        float: none;
    }
    .form1{
        float: none;
        margin-top: 120px;
    }
    .form2{
        float: none;
        margin-left: 50px;
    }
