
.body {
    font-size: 15px;
    font-family: arial;
    width: 100%;
	margin:0;
}
.menu {
    width: 100%;
    /* height: 65px; */
    margin: 0px;
    padding: 0px;	    
}
.menu ul {
    list-style: none;
 }
 .menu ul li {
    float: right;
}
.menu .judul{
	font-family: laksaman;
	color: #008B8B;
	font-size: 30px;
	margin: 0;
	text-decoration: none;
	float: left;
	cursor: none;
}
.menu ul li a {
    float:left; 
    width:100px; 
    display:block; 
    text-align:center; 
    color:#000000; 
    text-decoration:none; 
}
.menu ul li a:hover {
    background-color:#008B8B; 
  
}

.slide .isi{
    position: absolute;
    top: 35%;
    padding: 0 50px;
    /* left: 10%; */
    color: black;
    font-size: 25px;
    /* width: 600px; */
    font-family: Mitra Mono;
    border-radius: 5px;
}
.slide .menu-one{
    position: absolute;
    top: 55%;
    left: 12%;
    background-color: #008B8B;
    border: 1px solid #008B8B;
    padding: 5px 50px 5px 50px;
    font-family:Lohit Telugu;
    text-align: center;
    text-decoration: none;
    color: white; 
}
.search{
    float:right;
    
}
.text{
    cursor:pointer; 
    text-decoration: underline;
    color: black;
}

.slide img{
        width: 100%;
        /* height: 500px; */
}  
.slider {
        margin: 0 auto;
}


@media screen and (max-width:720px){
.menu ul li {
        float: none;
        text-align: center;
    }
.menu ul li a {
        float:none;

    }
.search, .menu .judul, .tahun{
        float: none;
    }
.table tr td{
        display: block;
    }
.slider.isi{
        float: none;
    }
}
